<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'slide'">
    <!--First slide-->
    <mdb-slide>
        <div class="view">
            <img class="d-block w-100" src="./../../assets/images/banner/dp7.jpeg" alt="First slide" height = "300">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Matribondonai DCPCA Ladies</h3>
            
        </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
        <div class="view">
            <img class="d-block w-100" src="./../../assets/images/banner/dp2.jpeg" alt="Second slide" height = "300">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Dasami Sindur Utsav at DCPCA</h3>
            
        </div>
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
        <div class="view">
            <img class="d-block w-100" src="./../../assets/images/banner/dp3.jpeg" alt="Third slide" height = "300">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Durga Puja Evening Arati</h3>
            
        </div>
    </mdb-slide>
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
                